@page "/page"
@using PlayTogether.Web.Services
@inject NavigationManager NavigationManager
@inject Login_service LoginService

<h3>Willkommen</h3>

<button class = "btn btn-primary" @onclick = "Loginlog">Login-log</button>

@code{

    private void Loginlog()
    {
        NavigationManager.NavigateTo("/loginlog");
    }
    
}