@page "/login"
@using PlayTogether.Web.Services
@rendermode InteractiveServer
@inject Login_service LoginService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>
<h1>Login</h1>
<label class="btn btn.primary">Benutzername:</label>
<input @bind="username" />
<br />

<label class="btn btn.primary">Passwort:</label>
<input  @bind="password" type = "password" />
<br /><br />

<div style="margin-top: 15px;">
     <button class="btn btn-primary" @onclick="Login_try">Login</button>
</div>
<div style="margin-top: 15px;">
     <span style="color:#ff0000">@errorMessage</span>
</div>



@code{
     private string username;
     private string password;
     private string errorMessage;

     private void Login_try()
     {
          if (username == "Benedikt_hu12" && password == "Benedike_0"||password == "aaawasmachichhierhilfegehtdasbitte wär cht so geil schau mal wieschenll ich tippen kann")

     {
              username = "";
              password = "";
              NavigationManager.NavigateTo("/page");
              LoginService.RightTry();
     }
          else
          {
               username = "";
               password = "";
               errorMessage = "Wrong password, please try again!";
               LoginService.FalseTry();
          }
     }   
    
    

}
